In [1]:
from knmi.downloader import KNMIDownloader
from knmi.database import KNMIDatabase
from knmi.processor import KNMIProcessor
from config import xlBasisfile, dbFile 
import pandas as pd

# Instantieer classes
db = KNMIDatabase(dbFile, xlBasisfile)
    
downloader = KNMIDownloader(db)
processor = KNMIProcessor(db)

# als de opgegeven database-file niet bestaat, wordt een nieuwe database aangemaakt
if not db.exists():
    db.create_database()
    db.fill_database()

# de database wordt (aan)gevuld met de meest recente data
#downloader.update_data()

#db.get_last_observations

In [2]:
processor.set_filter(locations= ['De Bilt'], startyear= 2020, endyear=2022,startmonth=1,endmonth=12)

dfdp = processor.get_filtered_PDseries(bottom=0)

P = db.get_station_timeseries(1,'P','2020-01-01','2022-12-31')
E = db.get_station_timeseries(16,'E','2020-01-01','2022-12-31')

df_check = P.merge(E, left_index=True, right_index=True, suffixes=('_P','_E')).merge(dfdp.rename('dfdp'), left_index=True, right_index=True)

df_check.to_clipboard()
#dfdp.rename('dfdp')

Processing location: De Bilt

In [7]:
locations = ['Groningen', 'De Bilt']

locs = db.get_locations()
if locations == 'all':
    locs = locs.index
elif isinstance(locations, list):
            locs = locs.loc[locs['LocationName'].isin(locations)].index
elif isinstance(locations, str):
            locs = locs.loc[locs['LocationName'] == locations].index

locs

Index([1, 3], dtype='int64', name='LocationId')

In [8]:
processor.filter_locations()

'Groningen'

## Snelheid testen

In [3]:
import sqlite3
import timeit

qry = '''SELECT date(Timestamp) AS date, value, quality 
                             FROM KNMI_data 
                             WHERE StationId = ? AND Parameter = ? AND Timestamp BETWEEN ? AND ?;
                       '''

with sqlite3.connect(db.db_path) as conn:
            
            startdate = pd.to_datetime('1900-01-01').to_julian_date()
            enddate = pd.to_datetime('2020-12-31').to_julian_date()

            cursor = conn.cursor()
            t0 = timeit.default_timer()
            result1 = cursor.execute(qry, (1,'P',startdate, enddate)).fetchall()
            t1 = timeit.default_timer()
            result2 = pd.read_sql_query(qry,conn, params= (1,'P',startdate,enddate))
            t2 = timeit.default_timer()

            print(f'Time 1: {t1-t0}')
            print(f'Time 2: {t2-t1}')

Time 1: 0.09764350000000377
Time 2: 0.10066589999999564

###

In [29]:
qry2 = '''SELECT date(Timestamp) AS date, StationId, Parameter, value, quality 
                             FROM KNMI_data 
                             WHERE Timestamp BETWEEN ? AND ?;
                       '''

with sqlite3.connect(db.db_path) as conn:
            
            startdate = pd.to_datetime('1900-01-01').to_julian_date()
            enddate = pd.to_datetime('2020-12-31').to_julian_date()

            cursor = conn.cursor()
            t0 = timeit.default_timer()
            result1 = cursor.execute(qry2, (startdate, enddate)).fetchall()
            t1 = timeit.default_timer()
            result2 = pd.read_sql_query(qry2,conn, params = (startdate,enddate))
            t2 = timeit.default_timer()

            print(f'Time 1: {t1-t0}')
            print(f'Time 2: {t2-t1}')

Time 1: 1.0279921999999715
Time 2: 1.1640588000000207

In [7]:
import sqlite3

#with sqlite3.connect(db.db_path) as conn:
res3 = db.get_location_stations()

res3

,StationId,Parameter,valid_from,valid_through,first_date,last_date,obs_from,obs_through
0,1,P,1-1-1906,None,1898-01-01,2025-12-20,1906-01-01,2025-12-20
1,16,E,1-1-1901,None,1957-07-01,2026-01-04,1957-07-01,2026-01-04
0,2,P,1-1-1973,None,1958-04-01,2025-12-20,1973-01-01,2025-12-20
1,3,P,1-1-1906,31-12-1972,1851-01-01,1972-12-31,1906-01-01,1972-12-31
2,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
3,17,E,1-1-2001,None,1964-11-01,2026-01-04,2001-01-01,2026-01-04
0,4,P,1-1-1906,None,1847-01-01,2025-12-20,1906-01-01,2025-12-20
1,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
2,18,E,1-1-2001,None,1965-01-01,2026-01-04,2001-01-01,2026-01-04
0,5,P,1-1-1906,None,1892-08-31,2025-12-20,1906-01-01,2025-12-20
1,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
2,19,E,1-1-2001,None,1993-07-16,2026-01-04,2001-01-01,2026-01-04
0,6,P,1-1-1906,None,1866-12-01,2025-12-20,1906-01-01,2025-12-20
1,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
2,20,E,1-1-2001,None,1987-09-11,2026-01-04,2001-01-01,2026-01-04
0,7,P,1-1-1906,None,1883-04-01,2025-12-20,1906-01-01,2025-12-20
1,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
2,21,E,1-1-2001,None,1999-03-23,2026-01-04,2001-01-01,2026-01-04
0,8,P,1-1-1906,None,1878-04-02,2025-12-20,1906-01-01,2025-12-20
1,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
2,22,E,1-1-2001,None,1989-11-05,2026-01-04,2001-01-01,2026-01-04
0,9,P,1-1-1906,None,1888-02-02,2025-12-20,1906-01-01,2025-12-20
1,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
2,23,E,1-1-2001,None,1987-04-03,2026-01-04,2001-01-01,2026-01-04
0,10,P,1-1-1906,None,1868-08-02,2025-12-20,1906-01-01,2025-12-20
1,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
2,24,E,1-1-2001,None,1999-07-15,2026-01-04,2001-01-01,2026-01-04
0,11,P,1-1-1906,None,1891-09-02,2025-12-20,1906-01-01,2025-12-20
1,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
2,25,E,1-1-2001,None,1990-01-24,2026-01-04,2001-01-01,2026-01-04
0,12,P,1-1-1906,None,1876-01-02,2025-12-20,1906-01-01,2025-12-20
1,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
2,26,E,1-1-2001,None,1994-06-01,2026-01-04,2001-01-01,2026-01-04
0,13,P,1-1-1996,None,1995-06-01,2025-12-20,1996-01-01,2025-12-20
1,14,P,1-1-1906,31-12-1995,1904-10-16,1995-12-31,1906-01-01,1995-12-31
2,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
3,27,E,1-1-2001,None,1991-06-25,2026-01-04,2001-01-01,2026-01-04
0,15,P,1-1-1906,None,1880-07-02,2025-12-20,1906-01-01,2025-12-20
1,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
2,28,E,1-1-2001,None,1989-10-19,2026-01-04,2001-01-01,2026-01-04

# Complexe(re) queries

In [8]:
qry3 =  '''SELECT StationId, Name, KNMI_data.Parameter as Param, date(min(Timestamp)) AS first_date, date(max(Timestamp)) AS last_date 
                            FROM KNMI_data INNER JOIN KNMI_stations USING (StationId)
                            GROUP BY Param, Name;
                     '''
with sqlite3.connect(db.db_path) as conn:
    res3 = pd.read_sql_query(qry3,conn)

res3.set_index('StationId').sort_index()

                              Name Param  first_date   last_date
StationId
1                          De Bilt     P  1898-01-01  2025-12-20
2                          De Kooy     P  1958-04-01  2025-12-20
3                       Den Helder     P  1851-01-01  1972-12-31
4                        Groningen     P  1847-01-01  2025-12-20
5                           Heerde     P  1892-08-31  2025-12-20
6                        Hoofddorp     P  1866-12-01  2025-12-20
7                            Hoorn     P  1883-04-01  2025-12-20
8                        Kerkwerve     P  1878-04-02  2025-12-20
9                       Oudenbosch     P  1888-02-02  2025-12-20
10                        Roermond     P  1868-08-02  2025-12-20
11                        Ter Apel     P  1891-09-02  2025-12-20
12               West-Terschelling     P  1876-01-02  2025-12-20
13                       Westdorpe     P  1995-06-01  2025-12-20
14                            Axel     P  1904-10-16  1995-12-31
15                     Winterswijk     P  1880-07-02  2025-12-20
16                         De Bilt     E  1957-07-01  2026-01-04
17                 De Kooy Airport     E  1964-11-01  2026-01-04
18         Groningen Airport Eelde     E  1965-01-01  2026-01-04
19                           Heino     E  1993-07-16  2026-01-04
20                Schiphol Airport     E  1987-09-11  2026-01-04
21                        Berkhout     E  1999-03-23  2026-01-04
22                  Wilhelminadorp     E  1989-11-05  2026-01-04
23             Gilze-Rijen Airport     E  1987-04-03  2026-01-04
24                             Ell     E  1999-07-15  2026-01-04
25                    Nieuw-Beerta     E  1990-01-24  2026-01-04
26              Hoorn Terschelling     E  1994-06-01  2026-01-04
27                       Westdorpe     E  1991-06-25  2026-01-04
28                          Hupsel     E  1989-10-19  2026-01-04

In [4]:
with sqlite3.connect(db.db_path) as conn:
    res3 = pd.read_sql_query(db.qry_stations,conn)

res3.set_index('StationId').sort_index()

,Name,Parameter,Code,Url,FileTypeId,Timestep
StationId,,,,,,
1,De Bilt,P,550,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
2,De Kooy,P,25,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
3,Den Helder,P,9,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
4,Groningen,P,139,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
5,Heerde,P,328,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
6,Hoofddorp,P,438,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
7,Hoorn,P,222,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
8,Kerkwerve,P,737,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
9,Oudenbosch,P,828,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
10,Roermond,P,961,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
11,Ter Apel,P,144,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
12,West-Terschelling,P,11,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
13,Westdorpe,P,770,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
14,Axel,P,745,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
15,Winterswijk,P,666,https://cdn.knmi.nl/knmi/map/page/klimatologie...,1,1d
16,De Bilt,E,260,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d
17,De Kooy Airport,E,235,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d
18,Groningen Airport Eelde,E,280,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d
19,Heino,E,278,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d
20,Schiphol Airport,E,240,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d
21,Berkhout,E,249,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d
22,Wilhelminadorp,E,323,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d
23,Gilze-Rijen Airport,E,350,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d
24,Ell,E,377,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d
25,Nieuw-Beerta,E,286,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d
26,Hoorn Terschelling,E,251,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d
27,Westdorpe,E,319,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d
28,Hupsel,E,283,https://cdn.knmi.nl/knmi/map/page/klimatologie...,2,1d

In [11]:
#qry4 =  '''SELECT LocationName, KNMI_data.Parameter , StationId, date(min(Timestamp)) AS first_date, date(max(Timestamp)) AS last_date
#                            FROM KNMI_data 
#                              RIGHT JOIN (P13_Locations RIGHT JOIN locations_stations USING (LocationId))
#                             USING (StationID)
#                            ;
#                     '''

qry4 =  '''SELECT LocationId, locations_stations.StationId, date(min(Timestamp)) AS first_date, date(max(Timestamp)) AS last_date
                            FROM locations_stations 
                              INNER JOIN KNMI_data ON locations_stations.StationId = KNMI_data.StationId
                              GROUP BY LocationId, locations_stations.StationId;'''

qry5 = '''SELECT LocationName, locations_stations.LocationId, locations_stations.StationId,locations_stations.Parameter, locations_stations.valid_from, locations_stations.valid_through ,date(min(Timestamp)) AS first_date, date(max(Timestamp)) AS last_date 
          FROM P13_locations
           INNER JOIN (locations_stations INNER JOIN KNMI_data ON locations_stations.Parameter = KNMI_data.Parameter AND locations_stations.StationId=KNMI_data.StationId) B
            ON P13_locations.LocationId = B.LocationId
          GROUP BY P13_locations.LocationId, B.Parameter;'''

with sqlite3.connect(db.db_path) as conn:
    res4 = pd.read_sql_query(qry5,conn)

res4

,LocationName,LocationId,StationId,Parameter,valid_from,valid_through,first_date,last_date
0,De Bilt,1,16,E,1-1-1901,None,1957-07-01,2026-01-04
1,De Bilt,1,1,P,1-1-1906,None,1898-01-01,2025-12-20
2,De Kooy,2,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04
3,De Kooy,2,2,P,1-1-1973,None,1851-01-01,2025-12-20
4,Groningen,3,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04
5,Groningen,3,4,P,1-1-1906,None,1847-01-01,2025-12-20
6,Heerde,4,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04
7,Heerde,4,5,P,1-1-1906,None,1892-08-31,2025-12-20
8,Hoofddorp,5,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04
9,Hoofddorp,5,6,P,1-1-1906,None,1866-12-01,2025-12-20
10,Hoorn,6,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04
11,Hoorn,6,7,P,1-1-1906,None,1883-04-01,2025-12-20
12,Kerkwerve,7,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04
13,Kerkwerve,7,8,P,1-1-1906,None,1878-04-02,2025-12-20
14,Oudenbosch,8,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04
15,Oudenbosch,8,9,P,1-1-1906,None,1888-02-02,2025-12-20
16,Roermond,9,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04
17,Roermond,9,10,P,1-1-1906,None,1868-08-02,2025-12-20
18,Ter Apel,10,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04
19,Ter Apel,10,11,P,1-1-1906,None,1891-09-02,2025-12-20
20,West-Terschelling,11,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04
21,West-Terschelling,11,12,P,1-1-1906,None,1876-01-02,2025-12-20
22,Westdorpe,12,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04
23,Westdorpe,12,13,P,1-1-1996,None,1904-10-16,2025-12-20
24,Winterswijk,13,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04
25,Winterswijk,13,15,P,1-1-1906,None,1880-07-02,2025-12-20

In [15]:
qry6 = '''SELECT locations_stations.*, date(min(Timestamp)) AS first_date, date(max(Timestamp)) AS last_date 
          FROM locations_stations 
          INNER JOIN KNMI_data ON locations_stations.Parameter = KNMI_data.Parameter AND locations_stations.StationId=KNMI_data.StationId
          GROUP BY locations_stations.LocationId, locations_stations.StationId, locations_stations.Parameter;'''

qry7 = "SELECT * FROM locations_stations;"

with sqlite3.connect(db.db_path) as conn:
    res6 = pd.read_sql_query(qry6,conn)

res6

,LocationStatId,LocationId,Parameter,StationId,valid_from,valid_through,first_date,last_date
0,1,1,P,1,1-1-1906,None,1898-01-01,2025-12-20
1,16,1,E,16,1-1-1901,None,1957-07-01,2026-01-04
2,2,2,P,2,1-1-1973,None,1958-04-01,2025-12-20
3,3,2,P,3,1-1-1906,31-12-1972,1851-01-01,1972-12-31
4,17,2,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
5,18,2,E,17,1-1-2001,None,1964-11-01,2026-01-04
6,4,3,P,4,1-1-1906,None,1847-01-01,2025-12-20
7,19,3,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
8,20,3,E,18,1-1-2001,None,1965-01-01,2026-01-04
9,5,4,P,5,1-1-1906,None,1892-08-31,2025-12-20
10,21,4,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
11,22,4,E,19,1-1-2001,None,1993-07-16,2026-01-04
12,6,5,P,6,1-1-1906,None,1866-12-01,2025-12-20
13,23,5,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
14,24,5,E,20,1-1-2001,None,1987-09-11,2026-01-04
15,7,6,P,7,1-1-1906,None,1883-04-01,2025-12-20
16,25,6,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
17,26,6,E,21,1-1-2001,None,1999-03-23,2026-01-04
18,8,7,P,8,1-1-1906,None,1878-04-02,2025-12-20
19,27,7,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
20,28,7,E,22,1-1-2001,None,1989-11-05,2026-01-04
21,9,8,P,9,1-1-1906,None,1888-02-02,2025-12-20
22,29,8,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
23,30,8,E,23,1-1-2001,None,1987-04-03,2026-01-04
24,10,9,P,10,1-1-1906,None,1868-08-02,2025-12-20
25,31,9,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
26,32,9,E,24,1-1-2001,None,1999-07-15,2026-01-04
27,11,10,P,11,1-1-1906,None,1891-09-02,2025-12-20
28,33,10,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
29,34,10,E,25,1-1-2001,None,1990-01-24,2026-01-04
30,12,11,P,12,1-1-1906,None,1876-01-02,2025-12-20
31,35,11,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
32,36,11,E,26,1-1-2001,None,1994-06-01,2026-01-04
33,13,12,P,13,1-1-1996,None,1995-06-01,2025-12-20
34,14,12,P,14,1-1-1906,31-12-1995,1904-10-16,1995-12-31
35,37,12,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
36,38,12,E,27,1-1-2001,None,1991-06-25,2026-01-04
37,15,13,P,15,1-1-1906,None,1880-07-02,2025-12-20
38,39,13,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
39,40,13,E,28,1-1-2001,None,1989-10-19,2026-01-04

## Query location_stations testen

In [8]:
import sqlite3
import timeit


t0 = timeit.default_timer()
result1 = db.get_location_stations('De Kooy')
t1 = timeit.default_timer()
result2 = db.get_location_stations2('De Kooy')
t2 = timeit.default_timer()

print(f'Time 1: {t1-t0}')
print(f'Time 2: {t2-t1}')

Time 1: 0.3789833000000158
Time 2: 1.518287799999996

In [9]:
result1

,StationId,Parameter,valid_from,valid_through,first_date,last_date,obs_from,obs_through
0,2,P,1-1-1973,None,1958-04-01,2025-12-20,1973-01-01,2025-12-20
1,3,P,1-1-1906,31-12-1972,1851-01-01,1972-12-31,1906-01-01,1972-12-31
2,16,E,1-1-1901,31-12-2000,1957-07-01,2026-01-04,1957-07-01,2000-12-31
3,17,E,1-1-2001,None,1964-11-01,2026-01-04,2001-01-01,2026-01-04

In [10]:
result2

,LocationStatId,LocationId,Parameter,StationId,valid_from,valid_through,first_date,last_date
2,2,2,P,2,1-1-1973,None,1958-04-01,2025-12-20
3,3,2,P,3,1-1-1906,31-12-1972,1851-01-01,1972-12-31
4,17,2,E,16,1-1-1901,31-12-2000,1957-07-01,2026-01-04
5,18,2,E,17,1-1-2001,None,1964-11-01,2026-01-04