In [1]:
from knmi.downloader import KNMIDownloader
from knmi.database import KNMIDatabase
from knmi.processor import KNMIProcessor
from config import xlBasisfile, dbFile 

# Instantieer classes
db = KNMIDatabase(dbFile, xlBasisfile)
    
downloader = KNMIDownloader(db)
processor = KNMIProcessor(db)

# als de opgegeven database-file niet bestaat, wordt een nieuwe database aangemaakt
if not db.exists():
    db.create_database()
    db.fill_database()

# de database wordt (aan)gevuld met de meest recente data
downloader.update_data()

#db.get_last_observations

['De Bilt, P: 0 records toegevoegd.',
 'De Kooy, P: 0 records toegevoegd.',
 'Den Helder, P: 0 records toegevoegd.',
 'Groningen, P: 0 records toegevoegd.',
 'Heerde, P: 0 records toegevoegd.',
 'Hoofddorp, P: 0 records toegevoegd.',
 'Hoorn, P: 0 records toegevoegd.',
 'Kerkwerve, P: 0 records toegevoegd.',
 'Oudenbosch, P: 0 records toegevoegd.',
 'Roermond, P: 0 records toegevoegd.',
 'Ter Apel, P: 0 records toegevoegd.',
 'West-Terschelling, P: 0 records toegevoegd.',
 'Westdorpe, P: 0 records toegevoegd.',
 'Axel, P: 0 records toegevoegd.',
 'Winterswijk, P: 0 records toegevoegd.',
 'De Bilt, E: 0 records toegevoegd.',
 'De Kooy Airport, E: 0 records toegevoegd.',
 'Groningen Airport Eelde, E: 0 records toegevoegd.',
 'Heino, E: 0 records toegevoegd.',
 'Schiphol Airport, E: 0 records toegevoegd.',
 'Berkhout, E: 0 records toegevoegd.',
 'Wilhelminadorp, E: 0 records toegevoegd.',
 'Gilze-Rijen Airport, E: 0 records toegevoegd.',
 'Ell, E: 0 records toegevoegd.',
 'Nieuw-Beerta, E: 0 records toegevoegd.',
 'Hoorn Terschelling, E: 0 records toegevoegd.',
 'Westdorpe, E: 0 records toegevoegd.',
 'Hupsel, E: 0 records toegevoegd.']

In [2]:
import pandas as pd
import sqlite3

qry_station_data = '''SELECT date(Timestamp) AS Date, Value, Quality 
                             FROM KNMI_data 
                             WHERE StationId = ? AND Parameter = ? AND Timestamp BETWEEN ? AND ?;
                       '''


StatID = '6'
Param = 'P'
startdate = '2020-01-01'
enddate = '2020-01-10'
LocationID = 'De Kooy'

#start = pd.to_datetime(startdate).to_julian_date()
#end = pd.to_datetime(enddate).to_julian_date()

#with sqlite3.connect(db.db_path) as conn:
#    qry_result = pd.read_sql_query(qry_station_data, conn, params = (StatID, Param, start, end))

#def get_location_timeseries(self, LocationID, start_date, end_date):

db.get_location_stations(LocationID)

,StationId,Parameter,valid_from,valid_through,first_date,last_date,obs_from,obs_through
0,2,P,1-1-1973,None,1958-04-01,2025-11-20,1973-01-01,2025-11-20
1,3,P,1-1-1906,31-12-1972,1851-01-01,1972-12-31,1906-01-01,1972-12-31
2,16,E,1-1-1901,31-12-2000,1957-07-01,2025-12-16,1957-07-01,2000-12-31
3,17,E,1-1-2001,None,1964-11-01,2025-12-16,2001-01-01,2025-12-16

In [21]:
#db.get_date_range(1, 'P')
#ts = pd.to_datetime(dmax, format = 'ISO8601')

test = db.get_location_stations()