In [2]:
from knmi.downloader import KNMIDownloader
from knmi.database import KNMIDatabase
from knmi.processor import KNMIProcessor
from config import xlBasisfile, dbFile 

# Instantieer classes
db = KNMIDatabase(dbFile, xlBasisfile)
    
downloader = KNMIDownloader(db)
processor = KNMIProcessor(db)

# als de opgegeven database-file niet bestaat, wordt een nieuwe database aangemaakt
if not db.exists():
    db.create_database()
    db.fill_database()

# de database wordt (aan)gevuld met de meest recente data
#downloader.update_data()

#db.get_last_observations

In [3]:
import pandas as pd
import sqlite3

qry_station_data = '''SELECT date(Timestamp) AS Date, Value, Quality 
                             FROM KNMI_data 
                             WHERE StationId = ? AND Parameter = ? AND Timestamp BETWEEN ? AND ?;
                       '''


StatID = '6'
Param = 'P'
startdate = '2020-01-01'
enddate = '2020-01-10'
LocationID = 'De Kooy'

#start = pd.to_datetime(startdate).to_julian_date()
#end = pd.to_datetime(enddate).to_julian_date()

#with sqlite3.connect(db.db_path) as conn:
#    qry_result = pd.read_sql_query(qry_station_data, conn, params = (StatID, Param, start, end))

#def get_location_timeseries(self, LocationID, start_date, end_date):

stats = db.get_location_stations(LocationID)

stats

,StationId,Parameter,valid_from,valid_through,first_date,last_date,obs_from,obs_through
0,2,P,1-1-1973,None,1958-04-01,2025-11-20,1973-01-01,2025-11-20
1,3,P,1-1-1906,31-12-1972,1851-01-01,1972-12-31,1906-01-01,1972-12-31
2,16,E,1-1-1901,31-12-2000,1957-07-01,2025-12-17,1957-07-01,2000-12-31
3,17,E,1-1-2001,None,1964-11-01,2025-12-17,2001-01-01,2025-12-17

In [4]:
processor.Filter.set_filter(locations= ['De Kooy', 'De Bilt'], startyear= 1990, endyear=2020,startmonth=3,endmonth=9)

print(processor.Filter)

KNMI data filter object (locations: ['De Kooy', 'De Bilt'], years: 1990 - 2020, months: 3 - 9)

In [ ]:
db.get_location_timeseries(LocationID,'P','2020-01-01', '2020-12-31')

c:\Users\brinkm03\OneDrive - Rijkswaterstaat\Documenten\01 Projecten\data-analyse\knmi-p13\knmi\database.py:279: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result = pd.concat([result,self.get_station_timeseries(stat['StationId'],Param,

            Value Quality
date
2020-01-01    0.0    None
2020-01-02    0.3    None
2020-01-03    6.5    None
2020-01-04    6.5    None
2020-01-05    1.2    None
...           ...     ...
2020-12-27    4.0    None
2020-12-28   10.2    None
2020-12-29    0.3    None
2020-12-30    2.5    None
2020-12-31    8.1    None

[366 rows x 2 columns]